/* Clase que tendra el tooltip */  
.cssToolTip 
{
 position: relative; /* Esta clase tiene que tener posicion relativa */ 
 font-family: Verdana, Georgia, Serif;
 font-size: 85%
}
 
/* El tooltip */
.cssToolTip span 
{

 background: linear-gradient(to bottom, #2c1735 0%, #2c1735 40%, #55306a 100%); 
 border: 2px solid #361D42;
 border-radius: 5px;
 box-shadow: 3px 3px 3px #333;
 display: none; /* El tooltip por defecto estara oculto */
 font-size: 0.8em;
 padding: 10px 10px 10px 10px;
 max-width: 6000px;
 position: absolute; /* El tooltip se posiciona de forma absoluta para no modificar el aspezto del resto de la pagina */
 top: 45px; /* Posicion apartir de la parte superior del primer elemento padre con posicion relativa */
 left: 0px; /* Posicion apartir de la parte izquierda del primer elemento padre con posicion relativa */
 z-index: 100; /* Poner un z-index alto para que aparezca por encima del resto de elementos */
 margin-right: 50px;
}
 
/* El tooltip cuando se muestra */
.cssToolTip:hover span 
{
 /*display: inline;  Para mostrarlo simplemente usamos display block por ejemplo */
}

.cssToolTip .table
{
 width: 250px;    
 overflow: hidden;

}

.cssToolTip .tabla_rubro
{

background: #fff;
color: #000;
text-align: left;


}

.cssToolTip .rubro
{
     
color: #361D42;
font-size: 13px;

}

.cssToolTip .texto_evento_ganador
{
     
font-size: 11px;

}

